.tagInput{
    display: inline-grid;
    grid-area: 1 / 1 / 2 / 3;
    grid-template-columns: 0px min-content;
}

.input{
    min-width: 2px;
}


.inputDefault{
    @apply bg-transparent rounded-lg w-full border-0 h-10 focus:outline-none;
}

.inputDefaultBg{
    @apply rounded-lg bg-slate-200 focus-within:ring-2 focus-within:border-blue-500;
}

.inputUnderLine{
    @apply bg-transparent focus:outline-none  w-full h-10 ;
}

.inputUnderLineBg{
    @apply bg-transparent focus-within:border-blue-500 border-b-2 border-gray-300;
}

.inputOutLine{
    @apply bg-transparent rounded-lg focus:outline-none w-full h-10 border-0;
}

.inputOutLineBg{
    @apply bg-transparent rounded-lg ring-1 w-full ;

}
