.borderBg{
    background-clip: padding-box, border-box;
    @apply border-solid border-transparent border-4 rounded bg-origin-border shadow-lg bg-gradient-border from-indigo-500 to-fuchsia-500;
}
.cardBg{
    @apply bg-slate-200 shadow-lg rounded-lg
}
